<div class="box">

<div class="legend">
  Applications
</div>

<ol class="stories list">
<table class="appl_table">
	<tr>
		<th>Applicant's Name</th>
		<th>Applied on</th>
		<th>Application Status</th>
	</tr>
  <%= render :partial => "applications/listitem", :collection => @applications,
    :as => :application %>
</table>
</ol>

</div>