<div class="box">

<div class="legend">
  Jobs you have applied for
</div>
</div>
<ol class="stories list">
  <%= render :partial => "jobs/listitem", :collection => @user_applications,
    :as => :job %>
</ol>

