<div class="box">

<div class="legend">
  Add member
</div>
<p>Enter the unique username of the user you want to add as collaborator here</p><br>
</div>

<div class="box">
<%= form_tag add_member_to_rel_path, method: :post do %>
  <div class="form-group">
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag 'Add' %>
  </div>
<% end %>
<br>
</div>