<tr>
<td>
<span class="link">
    <%= link_to user_path(collab.username) do %>
      <%= collab.username %>
    <% end %>
</span>
</td>
<td>
	<% if !@job.is_closed %>
		<%= link_to "REMOVE", rem_collab_path(@job, collab.id), method: :post, data: { confirm: 'Are You Sure?' } %>
	<% else %>
		<em style="color:grey;">ARCHIVED</em>
	<% end %>
</td>
</tr>